<app-admin-header></app-admin-header> 
<div class="container">
   
    <div class="row">
        <ng-container *ngFor="let e of productList;let m=index">
            <div *ngIf="e.n==='Arduino'" class="card col-md-3">
                <img [src]="Arduino">
                    <h5>Item- {{e.n}}</h5>
                    <h5 >Function- {{e.f}}</h5>
                    <h5>Price- {{e.price}}</h5>
                    <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
            </div> 
            <div *ngIf="e.n==='Plc'" class="card col-md-3">
                <img [src]="Plc">
                    <h5>Item- {{e.n}}</h5>
                    <h5 >Function- {{e.f}}</h5>
                    <h5>Price- {{e.price}}</h5>
                    <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
            </div>
                    <div *ngIf="e.n==='Sensors'" class="card col-md-3">
                        <img [src]="Sensors">
                            <h5>Item- {{e.n}}</h5>
                            <h5 >Function- {{e.f}}</h5>
                            <h5>Price- {{e.price}}</h5>
                            <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
                    </div>
                            <div *ngIf="e.n==='HMI'" class="card col-md-3">
                                <img [src]="HMI">
                                    <h5>Item- {{e.n}}</h5>
                                    <h5 >Function- {{e.f}}</h5>
                                    <h5>Price- {{e.price}}</h5>
                                    <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
                            </div>
                                    <div *ngIf="e.n==='Transistors'" class="card col-md-3">
                                        <img [src]="Transistors">
                                            <h5>Item- {{e.n}}</h5>
                                            <h5 >Function- {{e.f}}</h5>
                                            <h5>Price- {{e.price}}</h5>
                                            <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                            <div *ngIf="e.n==='Solenoid'" class="card col-md-3">
                                                <img [src]="Solenoid">
                                                    <h5>Item- {{e.n}}</h5>
                                                    <h5 >Function- {{e.f}}</h5>
                                                    <h5>Price- {{e.price}}</h5>
                                                    
                                                    <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                                                    <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
                                            </div>
                                                    <div *ngIf="e.n==='ZSS'" class="card col-md-3">
                                                        <img [src]="ZSS">
                                                            <h5>Item- {{e.n}}</h5>
                                                            <h5 >Function- {{e.f}}</h5>
                                                            <h5>Price- {{e.price}}</h5>
                                                            
                                                            <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
                                                    </div>
                                                            <div *ngIf="e.n==='LEDs'" class="card col-md-3">
                                                                <img [src]="LEDs">
                                                                    <h5>Item- {{e.n}}</h5>
                                                                    <h5 >Function- {{e.f}}</h5>
                                                                    <h5>Price- {{e.price}}</h5>
                                        
                                                                    <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                                                                <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button></div>

                                                                <div *ngIf="e.n==='Battery'" class="card col-md-3">
                                                                    <img [src]="Battery">
                                                                        <h5>Item- {{e.n}}</h5>
                                                                        <h5 >Function- {{e.f}}</h5>
                                                                        <h5>Price- {{e.price}}</h5>
                                            
                                                                        <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                                                                    <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button></div>

                                                                    <div *ngIf="e.n==='TeslaCoil'" class="card col-md-3">
                                                                        <img [src]="TeslaCoil">
                                                                            <h5>Item- {{e.n}}</h5>
                                                                            <h5 >Function- {{e.f}}</h5>
                                                                            <h5>Price- {{e.price}}</h5>
                                                
                                                                            <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                                                                        <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button></div>

                                                            <div *ngIf="e.n!='LEDs' && e.n!='ZSS' && e.n!='Solenoid' && e.n!='Transistors'&& e.n!='HMI' && e.n!='Arduino' && e.n!='Plc' && e.n!='Sensors'  && e.n!='TeslaCoil'  && e.n!='Battery'" class="card col-md-3">
                                                                <img [src]="abcd">
                                                                    <h5>Item- {{e.n}}</h5>
                                                                    <h5 >Function- {{e.f}}</h5>
                                                                    <h5>Price- {{e.price}}</h5>
                                                                    
                                                                    <button style="background-color:darkgreen;height:35px" (click)="updateItem(e)">UPDATE</button>
                                                                    <button style="height:30px" class="btn btn-danger" (click)="deleteItem(e)"><i class="fas fa-trash-alt"></i></button>
                                                            </div>
    </ng-container>
    </div> 
</div>
<router-outlet></router-outlet>
